html, body, #__next { height: 100%; }

.home {
  /* background-image: url("/basewash.png" ); */
  background-color: #ABA3BB;
}

.cinema {
  background-color: black;
  color: white;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
