@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Rubik+Glitch&family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #__next { height: 100%; }

/* FONTS AND HEADERS */
* {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 300;
}

h1 {
  font-family: "Jacquard 12", serif;
  font-size: 4em;
}

h2 {
  font-family: "Jacquard 12", serif;
  font-size: x-large;
}

h3 {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-size: x-large;
}

.link {
  font-size: x-large;
  color: #953B11;
}

a {
  color: #953B11;
}

a:hover {
  color: #b74a18;
}

/* CINEMA */

.cinema {
  background-color: black;
  z-index: -2;
  color: white;
  padding: 3em;
  margin: 2em;
}

.cinemaGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  row-gap: 4em;
  column-gap: 2em;
}

.filter {
  /* float: right; */
  margin: 2em;
}

@media (max-width: 768px) {
  .cinemaGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .cinemaGrid {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}

.moviePoster {
  height: 20em;
  width: auto;
  /* border: 0.1em solid rgb(67, 31, 25); */
  border-radius: 0.3em;
  box-shadow: rgba(255,120,100, 0.4) 5px 5px, rgba(255,120,100, 0.3) 10px 10px, rgba(255,120,100, 0.2) 15px 15px, rgba(255,120,100, 0.1) 20px 20px, rgba(255,120,100, 0.05) 25px 25px;
}

img.moviePoster:hover {
  cursor: pointer;
} 

/* MOVIEPAGE */
.moviePage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5em;
  padding: 3em;
}

.moviePageImg > .moviePoster {
  height: 30em;
  width: auto;
}

.moviePageData {
  justify-content: center;
  text-align: center;
}

#synopsis {
  font-style: italic;
}

#tags {
  list-style: none;
  padding-left: 0;
  font-style: italic;
  font-weight: 800;
  color:#953B11;
}

.tag {
  display: inline-block;
  padding: 0.5em;
}

/* HOMEPAGE */

#creditsLink {
  position: relative;
  margin-top: -500px;
  text-decoration: none;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  /* background-color: red; */
}

.aboutme {
  margin-top: 2em;
  /* font-size: large; */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.aboutme > img {
  float: left;
}

div.aboutme > div.aboutmeTxt {
  padding-left: 2em;
  float: left;
}

.home {
  background-color: black;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.imageMap{
  /* z-index: -3; */
}

.img-mapper-map {
  cursor: help;
}

.img-mapper-img {
  width: 900px;
  height: auto;
  margin: 0 10em;
}

.img-mapper-area-highlighted {
  cursor: wait;
}

/* NOISE ANIMATION */
.fuzzy-overlay {
  position: absolute;
  inset: -200%;
  background-image: url("/background/noise.png");
  /* height: 100%; */
  opacity: 15%;
  z-index: -1;
  animation: shift 0.8s linear infinite both;
  padding-bottom: 2em;
}

@keyframes shift {
  0% {
      transform: translateX(10%) translateY(10%);
  }

  100% {
      transform: translateX(-10%) translateY(-10%);
  }
}
